.category {
  background-color: @color-red-alt;
}

.category__container {
  .container();
  .flex-start();
  justify-content: space-between;
  padding-top: 23px;
}

.category__logo-link {
  display: block;
  width: 182px;
  height: 24px;
}

.category__logo-img {
  width: 182px;
  height: 24px;
}

.category__list {
  .listreset();
  width: 635px;
  padding-left: 44px;
  padding-top: 1px;
  margin-bottom: 25px;
  .flex-start();
}

.category__item {
  margin-right: 35px;

  &--women {
    margin-right: 36px;
  }

  &--children {
    margin-right: 37px;
  }

  &--brands {
    margin-right: 37px;
  }

  &--sales {
    margin-right: 0;
  }
}

.category__link {
  .reset-link();
  font-size: 16px;
  color: @color-white;
  position: relative;

  &--active {
    color: @color-red-light;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: calc(100% + 19px);
      height: 4px;
      margin-left: -10px;
      margin-bottom: -30px;
      background-color: @color-red-light;
    }
  }
}
