.comments {
  margin-bottom: 100px;
  background-image: url("../../img/comments-bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.comments__container {
  .container();
}

.comments__list {
  .listreset();
}

.comments__item {

  &--1 {

  }

  &--2 {

  }

  &--3 {

  }
}

.comments__avatar {

  &--1 {

  }

  &--2 {

  }

  &--3 {

  }
}

.comments__author {

}

.comments__range-list {
  .listreset();
}

.comments__range-item {

  &--star {

  }
}

.comments__text-list {
  .listreset();
}

.comments__text-item {

  &--1 {

  }

  &--2 {

  }

  &--3 {

  }
}

.comments__text-desc {
  .reset-ma-pa();

  &--1 {

  }

  &--2 {

  }

  &--3 {

  }
}
