.feedback {
  background-color: @color-red-light;
}

.feedback__container {
  .container();
  .flex-start();
  justify-content: space-between;
  padding-left: 89px;
  padding-top: 64px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 79px;
    left: 0;
    width: 60px;
    height: 42px;
    background-image: url("../img/icon-mail.png");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.feedback__col {
  &--left {
    .flex-start();
    flex-direction: column;
  }
}

.feedback__slogan {
  margin-bottom: 4px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.feedback__desc {
  .reset-ma-pa();
  font-size: 16px;
  margin-bottom: 70px;
}

.feedback__link {
  display: block;
  width: 211px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  color: @color-white;
  text-transform: uppercase;
  background-color: @color-red-alt;
  .reset-link();
  padding-top: 9px;
  padding-left: 30px;
  margin-top: 12px;
}
