.main-navigation {
  margin-right: auto;
}

.main-navigation__list {
  width: 540px;
  .listreset();
  display: flex;
  align-items: flex-start;
  padding-top: 12px;
  margin-bottom: 10px;
}

.main-navigation__item {
  margin-right: 40px;

  &--about {
    margin-right: 0;
  }
}

.main-navigation__link {
  .reset-link();
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: @color-white;
}
